@model IEnumerable<Model.EF.Content>

@{
    ViewBag.Title = "Tag";
    Layout = "~/Views/Shared/_layout.cshtml";
    var tag = (Model.EF.Tag)ViewBag.Tag;
}


<div class="hero-wrap hero-bread" style="background-image: url('/Assets/Client/images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
                <h1 class="mb-0 bread">@tag.Name</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-lg-last ftco-animate">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        var link = "/tin-tuc/" + item.MetaTitle + "-" + item.ID;
                        <div class="col-md-12 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <a href="@link" class="block-20" style="background-image: url('@item.Image');">
                                </a>
                                <div class="text d-block pl-md-4">
                                    <div class="meta mb-3">
                                        <div><a href="#">@item.CreatedDate</a></div>
                                        <div><a href="#">Admin</a></div>
                                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                    </div>
                                    <h3 class="heading"><a href="@link">@item.Name</a></h3>
                                    @Html.Raw(item.Detail)
                                    <p><a href="@link" class="btn btn-primary py-2 px-3">Read more</a></p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                @*<div class="row mt-2">
                        <div class="col">
                            <div class="block-27">
                                <ul>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&gt;</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>*@
                @if (ViewBag.TotalPage > 1)
                {
                    var pageDisplay = (int)ViewBag.MaxPage;
                    int totalPage = (int)ViewBag.TotalPage;
                    int currentPage = ((int)ViewBag.Page);

                    // Create numeric links
                    var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                    var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                    var link = "/tag/"+tag.ID;
                    <div class="row mt-2">
                        <div class="col">
                            <div class="block-27">
                                <ul>
                                    @if (currentPage > ViewBag.First)
                                    {
                                        <li><a href="@link?page=@ViewBag.First" title="Trang đầu"><<</a></li>
                                        <li>
                                            <a href="@link?page=@ViewBag.Prev" title="Trang trước"><</a>
                                        </li>

                                    }
                                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                                    {
                                        if (currentPage == i)
                                        {

                                            <li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                                        }
                                    }
                                    @if (currentPage < totalPage)
                                    {
                                        <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau">></a></li>
                                        <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối">>></a></li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    <span>Không có bản ghi nào</span>
                }
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon ion-ios-search"></span>
                            <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">
                        <li><a href="#">Shoes <span>(12)</span></a></li>
                        <li><a href="#">Men's Shoes <span>(22)</span></a></li>
                        <li><a href="#">Women's <span>(37)</span></a></li>
                        <li><a href="#">Accessories <span>(42)</span></a></li>
                        <li><a href="#">Sports <span>(14)</span></a></li>
                        <li><a href="#">Lifestyle <span>(140)</span></a></li>
                    </ul>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Recent Blog</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/Assets/Client/images/image_1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> April 27, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/Assets/Client/images/image_2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> April 27, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/Assets/Client/images/image_3.jpg);"></a>
                        <div class="text">
                            <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> April 27, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Tag Cloud</h3>
                    <div class="tagcloud">
                        @{
                            var tagall = (List<Model.EF.Tag>)ViewBag.TagAll;
                            foreach (var tags in tagall)
                            {
                                <a href="/tag/@tags.ID" class="tag-cloud-link">@tags.Name</a>
                            }
                        }
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div>
            </div>

        </div>
    </div>
</section> <!-- .section -->

<section class="ftco-gallery">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 heading-section text-center mb-4 ftco-animate">
                <h2 class="mb-4">Follow Us On Instagram</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="/Assets/Client/images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/Assets/Client/images/gallery-1.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="/Assets/Client/images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/Assets/Client/images/gallery-2.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="/Assets/Client/images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/Assets/Client/images/gallery-3.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="/Assets/Client/images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/Assets/Client/images/gallery-4.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="/Assets/Client/images/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/Assets/Client/images/gallery-5.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="/Assets/Client/images/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/Assets/Client/images/gallery-6.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>