@model PagedList.IPagedList<Model.EF.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- DATA TABLE -->
            <h3 class="title-5 m-b-35">data table</h3>
            <div class="table-data__tool">
                <div class="table-data__tool-left">
                    <div class="rs-select2--light rs-select2--md">
                        <select class="js-select2" name="property">
                            <option selected="selected">All Properties</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <div class="rs-select2--light rs-select2--sm">
                        <select class="js-select2" name="time">
                            <option selected="selected">Today</option>
                            <option value="">3 Days</option>
                            <option value="">1 Week</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <button class="au-btn-filter">
                        <i class="zmdi zmdi-filter-list"></i>filters
                    </button>
                </div>
                <div class="table-data__tool-right">
                    <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#exampleModal">
                        <i class="zmdi zmdi-plus"></i>add item
                    </button>
                    @*Modals Adduser*@
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">New User</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @*<form method="post">*@
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">UserName:</label>
                                        <input type="text" class="form-control" id="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">PassWord:</label>
                                        <input type="password" class="form-control" id="password">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Email:</label>
                                        <input type="text" class="form-control" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">FullName:</label>
                                        <input type="text" class="form-control" id="fullname">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Tỉnh, Thành phố:</label>
                                        <input type="text" class="form-control" id="city">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Street Address:</label>
                                        <textarea class="form-control" id="address"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Phone:</label>
                                        <input type="text" class="form-control" id="phone">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" value="Save" class="btn btn-primary" id="btnSave">Send message</button>
                                    </div>
                                    @*</form>*@
                                </div>

                            </div>
                        </div>
                    </div>
                    @*Modals Adduser*@


                    <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                        <select class="js-select2" name="type">
                            <option selected="selected">Export</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>
            </div>

            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                        <tr>
                            <th>
                                <label class="au-checkbox">
                                    <input type="checkbox">
                                    <span class="au-checkmark"></span>
                                </label>
                            </th>
                            <th>fullname</th>
                            <th>email</th>
                            <th>username</th>
                            <th>date</th>
                            <th>status</th>
                            <th>phone</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="tr-shadow">
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td>@item.FullName</td>
                                <td>
                                    <span class="block-email">@item.Email</span>
                                </td>
                                <td class="desc">@item.UserName</td>
                                <td>@item.CreatedDate</td>
                                <td>
                                    <span class="status--process">@item.Status</span>
                                </td>
                                <td>@item.Phone</td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                            <i class="zmdi zmdi-mail-send"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                            <i class="zmdi zmdi-more"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>

                        }
                    </tbody>
                </table>
                @*@Html.PagedListPager(Model, page => Url.Action( "Index",new { page}))*@
                <br />
                Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) / @Model.PageCount
                @Html.PagedListPager(Model,page=>Url.Action("Index",new { page}),PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod ="GET",UpdateTargetId=""}))
            </div>
            <!-- END DATA TABLE -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="copyright">
                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
            </div>
        </div>
    </div>
</div>