@model PagedList.IPagedList<Model.ViewModel.ContentViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!-- modal static -->
<div class="modal" tabindex="-1" role="dialog" id="mymodal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Do you want to delete?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="deleteContent()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal static -->
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- DATA TABLE -->
                <h3 class="title-5 m-b-35">data table</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property">
                                <option selected="selected">All Properties</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2" name="time">
                                <option selected="selected">Today</option>
                                <option value="">3 Days</option>
                                <option value="">1 Week</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>filters
                        </button>
                    </div>
                    <div class="table-data__tool-right">
                        <a href="/Admin/Content/Create">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>add item
                            </button>
                        </a>
                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                            <select class="js-select2" name="type">
                                <option selected="selected">Export</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("Index", "Content", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col col-md-12">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                                <input type="text" id="searchString" name="searchString" placeholder="Searching............" value="@ViewBag.searchString" class="form-control">
                            </div>
                        </div>
                    </div>
                }
               
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6">
                    <div class="card">
                        <img src="@item.Image" style="height: 18rem;" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Title: @item.Name</h5>
                            <p class="card-text">Category: @item.CateName</p>
                            <p class="card-text">View: @item.ViewCount</p>
                            <p class="card-text">@item.CreatedDate</p>

                        </div>
                        <div class="card-body">
                            <a href="/Admin/Content/Update/@item.ID" class="btn btn-primary">
                                Edit
                            </a>
                            <button onclick='setiduser(@item.ID)' data-toggle="modal" data-target="#mymodal" class="btn btn-primary">
                                Delete
                            </button>
                            <a href="/Admin/Content/Comment/@item.ID" class="btn btn-primary">
                                Comment
                            </a>
                        </div>
                    </div>
                </div>
            }
            
        </div>
        <div class="row">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.searchString }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "" }))
        </div>
    </div>

</div>